<h1>Omoroへようこそ！</h1>
<p>YouTubeに投稿されているゲームのプレイ動画の中で「面白い！」と思った動画を共有したり、誰かが共有した動画を再生して面白い動画を探すSNSサイトです。<br>
  「面白い！」と思ったゲームのプレイ動画であればタイムアタック系、やり込み系、縛りプレイ系などジャンルは問いません。とにかく「面白い！」と思った動画を共有しましょう。</p>
<p>例として当サイトの管理人が「面白い！」と思ったオススメ動画を下記に載せてみました、ページを更新するとオススメ動画が変わります。<br>
「他の人が共有した動画をもっと見たい！」あるいは「この動画を共有したい！」と思ったら、まずは<%= link_to '新規登録', new_user_path %>をよろしくお願いいたします。</p>
<div class="post">
  <%= render partial: 'shared/post', collection: @before_login_posts %>
</div>