<!-- 未ログイン時のヘッダー用ページ -->
<nav class="navbar navbar-expand-lg bg-body-tertiary", style="background-color: #f08080;">
  <div class="container-fluid">
    <!-- サイト名、 検索バー表示 -->
    <%= link_to t('top.index.site'), root_path, class: "navbar-brand"%>
    <ul class="navbar-nav me-auto">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="キーワードを入れて検索" aria-label="Search">
        <%= link_to t('top.index.search'), "#", class: "btn btn-primary", type: "submit", style: "width: 70px;"%>
      </form>
    </ul>
    <!-- ログイン、新規登録ボタン表示 -->
    <div class="justify-content-end">
      <%= link_to t('top.index.login'), new_login_path, class: "btn btn-light me-2", style: "width: 100px;" %>
      <%= link_to t('top.index.new_registration'), new_user_path, class: "btn btn-primary", style: "width: 100px;"%>
    </div>
  </div>
</nav>
