<div class=" col-md-8 col-lg-6 mx-auto">
  <h1>メールアドレス・パスワード変更</h1>
  <%if !current_user.crypted_password.nil? %>
    <%= link_to "メールアドレス変更", email_settings_path, class: "btn btn-secondary" %>
    <%= link_to "パスワード変更", password_settings_path, class: "btn btn-secondary" %>
  <% else %>
    <p>Googleアカウントでログインされた為、メールアドレスとパスワード変更はできません。</p>
  <% end %>
  
  <br>

  <h1>アカウント退会</h1>
  <%= link_to "退会する", users_destroy_path, data: { turbo_method: :delete }, class: "btn btn-danger", onclick: "return confirm('本当に退会してもよろしいですか?')"%>
</div>




