
header{
    position: sticky;
    top: 0;
    z-index: 150;
}

#header_icon{
    content: "";
    padding-top: 58%;

    width: 50px;
    height: 50px;

    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #333300;

    background-color: white;
}