/*---------- profile/showで使用 -----------*/
  .profile_name {
    /* アイコンと名前が横並びになるように */
    display: flex;
    height: 100px;
  }

  .profile_name .image {
    /* 画像を読み込む際、位置調整とはみ出たときの対応 */
    overflow: hidden;
    position: relative;

    /* 親要素の横と高さが並ぶように設定 */
    height: 100%;
    aspect-ratio: 1; 

    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #333300;

    background-color: white;
  }

  /* 画像を読み込む前にアスペクト比設定 */
  .profile_name .image::before {
    content: "";
    display: block;
    padding-top: 58%;
  }

  /* 画像の大きさ調整用 */
  .profile_name .image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .profile_name .name {
    /* 名前表示の位置調整、上下だけゴリ押し気味 */
    margin: 0 0 0 20px;
    height: 100%;
    line-height: 100px;

    /* 名前を太字、フォントを大きく */
    font-weight: bold;
    font-size: 35px;
  }

  .profile_name .follower {
    /* 名前表示の位置調整、上下だけゴリ押し気味 */
    margin: 0 0 0 10px;
    height: 100%;
    line-height: 120px;

    font-weight: lighter;
  } 

  .profile_name .button {
    /* ボタン表示の位置調整、上下だけゴリ押し気味 */
    height: 100%;
    line-height: 100px;
    margin: 0 0 0 50px;
  }

  .text {
    margin: 0 0 0 120px;
  }

/*---------- profile/editで使用 -----------*/
  .profile_edit{
    /* 要素を左から右に横並びにする */
    display: flex;
    flex-direction: row;   
  }

  .profile_edit .text_form{
    /* アイコンフォームとの余白調整 */
    margin: 5px 0 0 20px;
  }

  #preview {
    /* プレビュー用のアイコン表示設定、基本はprofile/showで使ったものと同じ */
    content: "";
    display: block;
    padding-top: 58%;

    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #333300;

    background-color: white;
    }
  
  /*---------- share/_postで使用 -----------*/

  .card{
    width: 80%;
    margin: 20px auto;
    box-shadow: 2px 2px 3px;
  }

  .card .card-user .icon{
    content: "";
    display: block;
    padding-top: 58%;

    display: block;
    overflow: hidden;
    
    /*card-icon要素にはwidthとheightが適用されていたが、画像には適用されなかった。
      ひとまずhtml側で画像のサイズを直接指定して解決。*/
    width: 30px;
    height: 30px;
    
    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #333300;
  
    background-color: white;    
  }

  .card .card-user .name{
    /* 名前表示の位置調整、上下だけゴリ押し気味 */
    margin: 0 0 0 3px;
    height: 25px;
    line-height: 25px;
  }
