/*---------- profile/showで使用 -----------*/
  .profile_name {
    /* アイコンと名前が横並びになるように */
    display: flex;
    height: 100px;
  }

  .profile_name .image {
    /* 画像を読み込む際、位置調整とはみ出たときの対応 */
    overflow: hidden;
    position: relative;

    /* 親要素の横と高さが並ぶように設定 */
    height: 100%;
    aspect-ratio: 1; 

    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #333300;

    background-color: white;
  }

  /* 画像を読み込む前にアスペクト比設定 */
  .profile_name .image::before {
    content: "";
    display: block;
    padding-top: 58%;
  }

  /* 画像の大きさ調整用 */
  .profile_name .image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .profile_name .name {
    /* 名前表示の位置調整、上下だけゴリ押し気味 */
    margin: 0 0 0 20px;
    height: 100%;
    line-height: 100px;

    /* 名前を太字、フォントを大きく */
    font-weight: bold;
    font-size: 35px;
  }

  .profile_name .follower {
    /* フォロワー表示の位置調整、上下だけゴリ押し気味 */
    margin: 0 0 0 10px;
    height: 100%;
    line-height: 120px;

    font-weight: lighter;
  } 

  .profile_name .button {
    /* ボタン表示の位置調整、上下だけゴリ押し気味 */
    height: 100%;
    line-height: 100px;
    margin: 0 0 0 50px;
  }

  .text {
    margin: 0 0 0 120px;
  }

/*---------- profile/editで使用 -----------*/
  .profile_edit{
    /* 要素を左から右に横並びにする */
    display: flex;
    flex-direction: row;   
  }

  .profile_edit .text_form{
    /* アイコンフォームとの余白調整 */
    margin: 5px 0 0 20px;
  }

  #preview {
    /* プレビュー用のアイコン表示設定、基本はprofile/showで使ったものと同じ */
    content: "";
    display: block;
    padding-top: 58%;

    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #333300;

    background-color: white;
    }
  
  /*---------- share/_postで使用 -----------*/

  .postcard{
    width: 80%;
    margin: 20px auto;
    /* ポストに影をつけておく */
    box-shadow: 2px 2px 3px;
  }
  
  /* サムネイルにカーソルを重ねると少し透明になる */
  .card .thumbnail:hover img{
    opacity: 0.7;
  }

  .card .card-user .icon{
    content: "";
    display: block;
    padding-top: 58%;

    display: block;
    overflow: hidden;
    
    /*card-icon要素にはwidthとheightが適用されていたが、画像には適用されなかった。
      ひとまずhtml側で画像のサイズを直接指定して解決。*/
    width: 30px;
    height: 30px;
    
    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #333300;
  
    background-color: white;    
  }

  .card .card-user .name{
    /* 名前表示の位置調整、上下だけゴリ押し気味 */
    margin: 0 0 0 3px;
    height: 25px;
    line-height: 25px;
  }

  .card-comment {
    /* ポスト内のコメントを3行まで表示させる、溢れた場合は...と表示する */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
  }

  .card-other .tag{
    /* ポスト内のタグを1行まで表示させる、溢れた場合は...と表示する */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
  }

  .card-other .movie_title{
    /* ポスト内の動画タイトル名を1行まで表示させる、溢れた場合は...と表示する */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
  }

  /*---------- share/_after_loginで使用 -----------*/

  /* トップページのタブ表示を整理 */
  .nav-tabs {
    width: 100%;
  }
  
  .nav-tabs .nav-item {
    flex: 1;
  }
  
  .nav-tabs .nav-item .nav-link {
    width: 100%;
    text-align: center;
    
    .active{
      background-color: grey;
    }
  }

  /*---------- posts/newで使用-----------*/

  /* ゲーム検索画面でフォームにカーソルを重ねた際、背景色を変更 */
  .js-search_result .card:hover{
    background-color: #f5f5f5;
  }

  /*---------- games/_gameで使用-----------*/

  .gamecard a:hover{
    opacity: 0.7;
  }

  .gamecard .card-body .card-title{
    /* カード内のゲーム名を1行まで表示させる、溢れた場合は...と表示する */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
  }

  /*---------- games/showで使用 ---------*/

  .game_name .game_info .name{
  margin: 0 0 0 20px;
  line-height: 100px;

  /* 名前を太字、フォントを大きく */
  font-weight: bold;
  font-size: 35px;

  }

  .game_name .game_info .post_count{
    /* 投稿された数を薄く表示 */
    margin: 0 0 0 20px;

    font-weight: lighter;
    font-size: 20px;
  } 

  .game_name .button {
    /* ボタン表示の位置調整、上下だけゴリ押し気味 */
    height: 100%;
    line-height: 150px;
    margin: 0 0 0 50px;
  }

  /*---------- follow/listで使用 ---------*/

  .gamecard .follow_icon{
     /* プレビュー用のアイコン表示設定、基本はprofile/showで使ったものと同じ */
    content: "";
    display: block;
    padding-top: 58%;
    overflow: hidden;
    margin: 10px auto;

    height: 150px;
    aspect-ratio: 1;

    /* アイコンを円形にし、外線を追加 */
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid #333300;

    background-color: white;
  }

  .gamecard .follow_count{
    /* フォロワー数を薄く表示 */
    font-weight: lighter;
    font-size: 15px;
  }

  /*---------- その他 -----------*/



  /* フォームの外枠の色を見やすいように調整*/
  .form-control{
    border-color: #3d3d3d;
  }