<h1>フォロー一覧</h1>

<% if @follows.present? %>
  <div class="d-flex">
    <%= render partial: 'follow/follow', collection: @follows %>
  </div>
<% else %>
  <p>フォローしているユーザーはいません。
  気になるユーザーがいればフォローしてみましょう！</p>
<% end %>